body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8fffe;
}

.question-container {
    max-width: 600px;
    margin: 10px;
    padding: 15px;
    border-left: 8px solid green;
    background-color: #f8fffe;
    font-weight: bold;
}

.quotation {
    max-width: 600px;
    margin: 10px;
    padding: 15px;
    border-left: 8px solid green;
    background-color: #f8fffe;
    font-weight: bold;
}

blockquote {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: blue;
}
/* Your CSS Code here. */